### Задача 1

Напишите программу, которая просит пользователя ввести произвольную цифру от 1 до 9, а затем выводит таблицу умножения для введенного числа.

Добавьте проверку введенной пользователем информации:
* данные должны быть целочисленного типа
* число должно находиться в диапазоне от 1 до 9

In [ ]:
print("Введите пожалуйста любую цифру от 1 до 9")
a = int(input())
for i in range(2,10):
  print(a, "*", i, '=', a*i)

Введите пожалуйста любую цифру от 1 до 9
5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

### Задача 2

Напишите программу, которая ищет все числа в интервале от 300 до 430 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

In [ ]:
for i in range(300,431):
  if i%11==0 and i%5!= 0:
    print(i)

308
319
341
352
363
374
396
407
418
429

### Задача 3

Напишите функцию, которая принимает один параметр (год) и определяет, является ли этот год високосным.

Напомним, что ***високосными*** годами считаются те, порядковый номер которых либо кратен **4**, но при этом не кратен **100**, либо кратен **400** (например, 2000-й год являлся високосным, а 2100-й будет не високосным годом).

Программа должна корректно работать на числах **1900 ≤ n ≤ 3000**.

Функция должна вывести на экран "Високосный" в случае, если год является високосным и "Обычный" в противном случае.

In [ ]:
def vysokosnyi(god):
  if god%4==0 and god%100!=0 or god%400 ==0:
    print('Високосный')
  else:
    print('Обычный')

In [ ]:
vysokosnyi(2100)

Обычный

### Задача 4

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 10 включительно и значениями, соответствующими квадратам ключей.

In [ ]:
dict = {}
for i in range(1,11):
  dict.update({i:i**2})
dict

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

### Задача 5

Напишите функцию простейшего калькулятора. Пользователь вводит число **a**, число **b** и вид арифметической операции над ними. Функция возвращает результат вычисления.

In [ ]:
a = int(input())
b = int(input())
c = input()
if c == '+':
  print(a+b)
elif c == '-':
  print(a-b)
elif c == '*':
  print(a*b)
elif c == '/':
  if b== 0:
    print('It can not be divided by 0')
  else:
    print(a/b)

5
2
+
7